<form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact">
    <div class="form-group">
      <label for="firstName">FirstNmae</label>
      <input 
      required 
      minlength="4" 
      maxlength="10" 
      pattern="[a-zA-Z]+" 
      ngModel name="firstName" 
      #firstName="ngModel" 
      id="firstName" 
      class="form-control" 
      type="text" >
      <div class="alert alert-danger" 
          *ngIf="firstName.touched && firstName.invalid">
        <div 
          *ngIf="firstName.errors.required">
          Ce champs est obligatoire!!
        </div>
        <div 
          *ngIf="firstName.errors.minlength">
          Ce champs doit avoir au moins 
          {{ firstName.errors.minlength.actualLength }} 
          / {{ firstName.errors.minlength.requiredLength }}!!
        </div>
        <div 
          *ngIf="firstName.errors.pattern">
          Prénom doit être alpha!!
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">LastName</label>
      <input 
      id="lastName" 
      ngModel name="lastName" 
      #lastName 
      class="form-control" 
      type="text" >
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea 
     id="comment" 
     ngModel name="comment" 
     #comment 
     class="form-control" 
     type="text" >
    </textarea>
  </div>
  <div class="form-group">
    <label for="ContactMethod">Méthode de contact</label>
    <select id="ContactMethod" ngModel name="ContactMethod" >
      <option value=""></option>
      <option *ngFor="let method of ContactMethods" [ngValue]="method">{{ method.name }}</option>
    </select>
  </div>
  <div class="radio" *ngFor="let method of ContactMethods">
    <label for="">
      <input type="radio" ngModel name="contactMethod2" [value]="method.id">
      {{ method.name }}
    </label>
  </div>
  <hr>

  <div class="checkbox">
    <label>
      <input type="checkbox" ngModel name="subscribe"> S'abonner
    </label>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" [disabled]="!f.valid">
      Enregistrer
    </button>
  </div>
</form>

{{ f.value | json }}
