<!--<ul class="nav nav-pills">
    <li [class.active]="viewCourse == 'Laravel'"><a (click)="viewCourse = 'Laravel'">Laravel</a></li>
    <li [class.active]="viewCourse == 'Angular'"><a (click)="viewCourse = 'Angular'">Angular</a></li>
    <li [class.active]="viewCourse == 'Symfony'"><a (click)="viewCourse = 'Symfony'">Symfony</a></li>
</ul>

<div [ngSwitch]="viewCourse">
    <div *ngSwitchCase="'Laravel'">Lorem Laravel</div>
    <div *ngSwitchCase="'Angular'">Lorem Angular</div>
    <div *ngSwitchCase="'Symfony'">Lorem Symfony</div>
    <div *ngSwitchDefault>autre chose</div>
</div>
<input type="text" [appInputFormat] = "'ddd'">
<br>
<h3>{{ personne.name }}</h3>
<p>{{ personne.adress?.city }} | {{ personne.adress?.sector }}</p>
<button class="btn btn-primary" (click)="loadCourses()">Charger</button>
<button class="btn btn-success" (click)="addCourse()">Ajouter</button>
<ul class="list-group">
    <li *ngFor="let course of courses; index as i; trackBy:trackCourse" class="list-group-item">
        {{ i }} - {{ course.id }} | {{ course.title }} 
        <button class="btn btn-danger" (click)="deleteCourse(course)">Supprimer</button>
        <button class="btn btn-warning" (click)="editCourse(course)">Modifier</button> 
    </li>
</ul>

<favorite (change)="onfavoriteChange($event)"></favorite>-->
<header></header>
<div class="container">
    <router-outlet></router-outlet>
</div>
