<div class="container">
    <h1 [style.float]="isActive ? 'right' : 'left'">{{ title }}</h1><br/>
<input [(ngModel)]= "username" type="text" >
<p>{{ username }}</p>
<div (click)="onClickDiv()">
<button class="btn btn-success" (click)="onClick($event)" [class.active]="isActive" >save</button>
</div>
<ul>
 <li *ngFor="let course of courses">{{ course }}</li>
</ul>


    <ul class="list-group">
        <li class="list-group-item">{{ course.titre | uppercase }}</li>
        <li class="list-group-item">{{ course.avis | number:'1.2-3' }}</li>
        <li class="list-group-item">{{ course.participants }}</li>
        <li class="list-group-item">{{ course.prix | currency:'EURO':'symbol' }}</li>
        <li class="list-group-item">{{ course.publicationDate | date:'yyyy,M,d' }}</li>
    </ul>
</div>